body {
    background-image: url('../images/casinardo.jpg'); /* Ruta de la imagen */
    background-size: auto; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-position:70%; /* Centra la imagen en la pantalla */
    background-position-y: top;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: red;
    }
}

.principal {
    align-items: center;
    background: rgba(0, 0, 0, 0.685);
    height: auto;
    border: 4px solid;
    border-radius: 10px;
    animation: borderAnimation 5s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-button {
    background: linear-gradient(270deg, red, green, blue, red);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}


.ajustainput{
    width: 20%;
}